/* General styles */
body {
    background-color: yellow;
    margin: 0;
    font-family: Arial, sans-serif;
}

main {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: yellow;
}

img {
    width: 100%;
    grid-column: span 3;
    z-index: 0;
    padding-top: 15px;
    background-color: green;
}

h1 {
    text-align: center;
    color: green;
}

section {
    position: absolute;
    z-index: 1;
    background-color: yellow;
    color: green;
    padding-right: 10px;
    font-weight: 800;
}

#data {
    top: 5%;
    left: 2%;
}

#weather {
    top: 55%;
    left: 80%;
}

section h2 {
    position: relative;
    left: -10px;
    background-color: darkblue;
    color: yellow;
    padding-left: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
}

footer {
    text-align: center;
}

/* Positioning and styling the weather icon pseudo-element */
#weather h2::after {
    content: "";
    display: inline-block;
    width: 30px; /* Adjust width as needed */
    height: 30px; /* Adjust height as needed */
    background-image: url("../images/weather.svg"); /* Ensure the path is correct */
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 8px; /* Adjust margin as needed for spacing */
}


/* Large view styles */
@media (min-width: 1024px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Mobile view styles */
@media (max-width: 1023px) {
    main {
        grid-template-rows: auto auto auto;
    }

    #data, #weather {
        position: relative;
        left: 70px;
        top: auto;
        width: 260px;
        margin: 10px 0;
        text-align: left;
        padding: 10px;
    }

    #data {
        grid-row: 2;
    }

    #weather {
        grid-row: 3;
    }
}
